!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TurboChatroomAdmin
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_importmap_tags

  %body.bg-slate-800.text-slate-300.flex.justify-center
    - if current_user
      .absolute.right-20.top-4
        .inline.pr-6= "#{current_user.email} (#{current_user.role})"
        = link_to "Sign out", destroy_user_session_path, remote: true

    = yield
