= turbo_frame_tag dom_id(message) do
  .border-b-2.border-slate-700.pb-2.text-sm.overflow-hidden
    %div.float-left{class: "#{message.hidden? ? 'message-hidden' : ''}"}
      %span #{time_ago_in_words(message.created_at)} ago
      %span.pl-4 ##{message.room_name}
      %span.pl-4= message.username
      .mt-2.message-body= message.body
      = render partial: "messages/attachments", locals: { message: message }

    %div.mt-6.float-right
      = link_to "Hide", hide_message_path(message),
        class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded',
        remote: true